body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    background-image: url('./images/body-bg.jpg');
}

hr {
    color: goldenrod;
}

#graph-settings {
    color: antiquewhite;
    background-image: url("./images/graph-settings-bg.jpg");
    height: 100%;
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 1%;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-margin-right: 100px;
    white-space: nowrap;
}

#graph-settings-header {
    width: inherit;
    height: 45px;
    text-align: center;
    font-size: 30px;
    top: 0;
    position: sticky;
}

#toggleSettingsBtn {
    left: 1%;
    top: 10px;
    position: fixed;
    z-index: 2;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 30px;
    border-color: goldenrod;
    background-color: #224134;
    background-image: url("./images/icons/png/goto.png");
    background-repeat: no-repeat;
    background-size: contain;
}


#toggleSettingsBtn span {
    vertical-align: center;
    text-align: center;
    margin: 0
}

#graph-settings-body {


}


#graph-settings.open {
    width: 500px;
    padding-left: 1%;
    padding-right: 1%;
    transition: 0.5s;
}

#graph-settings.open #toggleSettingsBtn {
    transform: rotate(180deg);
    padding: 0;
}

#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}