body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-image: url('./images/body-bg.jpg');
}

#graph-settings {
    color: antiquewhite;
    background-image: url("./images/graph-settings-bg.jpg");
    height: 100%;
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 1%;
    transition: 0.5s;
}

#graph-settings:not(.open) #graph-settings-content {
    display: none;
}

#graph-settings.open {
    width: 500px;
    padding-left: 1%;
    padding-right: 1%;
    transition: 0.5s;

}

#scrollbar-container {
    overflow-y: auto;
}

#graph-settings.open #toggleSettingsBtn {
    transform: rotate(180deg);
    padding: 0;
}

#toggleSettingsBtn {
    right: 0;
    top: 50%;
    translate: 50% -50%;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border-color: goldenrod;
    background-color: darkgreen;
    font-size: 30px;

    display: table-cell;
    vertical-align: middle;
}

#toggleSettingsBtn span {
    vertical-align: center;
     text-align: center;
     margin: 0
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}