<template>
    <link rel="stylesheet" href="../style.css">

    <div class="hBox">
        <slot name="buildingIcon">ICON</slot>
        <div class="vBox">
            <slot id="buildingNameSlot" name="buildingName">Building-Name</slot>
            <div class="hBox">

                <div id="buildingInputs" class="vBox">Inputs</div>
                <div id="buildingOutputs" class="vBox">Outputs</div>
            </div>
        </div>
        <div id="buildingPmgs" class="hBox"></div>
    </div>
</template>